body {
  background-image: url('https://jerseyeveningpost.com/resizer/Y4Fzdd4qQlYCv2Uz_FoS3Kyyon8=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/WCA3GU4D7JCMZAMNK4RYK6JCZU.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
